.Item {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  border: 1px solid;
  border-radius: 12px;
  padding-left: 10px;
  margin-top: 10px;
  padding-right: 0px;
  width: 50%;
  .DeleteImg {
    background-color: white;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    align-items: center;
    padding: 5px;
  }
  span {
    padding: 8px;
  }
  input {
    padding: 8px;
  }
}

.green {
  background-color: rgb(156, 246, 144);
}

.red {
  background-color: rgb(243, 168, 127);
}
